<section class="flex justify-center items-center w-full text-zinc-50 mt-14">
    <div class="flex justify-center items-center lg:bg-slate-600 rounded-md">
        <div class="flex flex-col justify-start items-start pb-5">
            <%= render partial: "admin/songs/partial/form", locals: { song: @song } %>
        </div>
    </div>
</section>