<div class="absolute kanit left-full top-0 ml-2 w-48 bg-[#91A2B4] text-[#1E1E1E] shadow-lg rounded-md py-1 z-50 hidden"
      data-sidebar-target="menu">
  <%= render 'music/components/sidebar/dropdown_menu_items' %>
</div>