<div class="w-40 min-h-screen bg-[#91A2B4] text-[#1E1E1E] top-0 left-0 relative" data-controller="sidebar" data-action="click@window->sidebar#closeMenu">
  <nav class="flex flex-col justify-between h-fit">
    <%= render 'music/components/sidebar/header' %>
    <%= render 'music/components/sidebar/dropdown_menu' %>
    <%= render 'music/components/sidebar/main_nav' %>
    <%#= render 'music/components/sidebar/most_played', songs: @songs %>
  </nav>
</div>