<!-- Music Player -->
<div data-controller="music--player" class="flex flex-col top-0 w-full">
  <!-- Banner Section -->
  <!-- This partial will change the default banner image to the song's or playlist's image -->
  <%= render "music/components/player/banner", 
             banner_image: @banner_image, 
             title: @banner_title, 
             subtitle: @banner_subtitle %>

  <div class="flex justify-center items-center bg-black text-white p-4">
    <div data-music--player-target="currentTime" class="mx-2">0:00</div>
    <div class="flex flex-col w-1/2">
      <div data-music--player-target="waveform" class="mx-2 px-2"></div>
      <div class="h-1 bg-gray-700 relative">
        <div data-music--player-target="loadingProgress" 
            class="absolute top-0 left-0 h-full bg-lime-500 transition-all duration-300"
            style="width: 0%"></div>
      </div>
    </div>
    <!-- Duration (updates when loaded) -->
    <div data-music--player-target="duration" class="mx-2">0:00</div>
    <button data-music--player-target="playerPlayButton"
            data-action="click->music--player#togglePlayback">
      <svg class="w-10 h-10 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24" data-music-target="playIcon">
        <path fill-rule="evenodd" d="M8.6 5.2A1 1 0 0 0 7 6v12a1 1 0 0 0 1.6.8l8-6a1 1 0 0 0 0-1.6l-8-6Z" clip-rule="evenodd"/>
      </svg>
    </button>
    
    <button data-music--player-target="playerPauseButton"
            class="hidden"
            data-action="click->music--player#togglePlayback">
      <svg class="w-10 h-10 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24" data-music-target="pauseIcon">
        <path fill-rule="evenodd" d="M8 5a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2H8Zm7 0a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1Z" clip-rule="evenodd"/>
      </svg>
    </button>
  </div>
</div>