<!-- Current Index Content -->
<div class="w-full flex flex-col m-auto text-gray-900">
  <h2 class="kanit font-semibold text-xl mx-4 py-4 text-gray-900 w-full text-center md:text-left">All Songs</h2>
  <hr class="mb-4 mx-4 border-gray-200">
  <div data-controller="music--song-list"
        data-music--song-list-songs-value="<%= @songs_data %>"
        class="flex flex-col xl:grid xl:grid-cols-2 p-4 space-y-3 xl:space-y-0 xl:gap-4">
    <% @songs.each do |song| %>
      <%= render partial: "music/components/horizontal-song-card", locals: { song: song } %>
    <% end %>
  </div>
</div>