<section class="flex justify-center items-center w-full text-zinc-50 mt-14">
    <div class="flex justify-center items-center lg:bg-slate-600 rounded-md">
        <div class="flex flex-col justify-start items-start pb-5">
            <h1 class="text-2xl font-bold text-gray-100 mb-4">Create New Album</h1>
            <%= render partial: "albums/form", locals: { album: @album } %>
        </div>
    </div>
</section>