<button id="banner-height-toggle" 
        data-controller="music--banner-height"
        data-action="click->music--banner-height#toggle"
        data-music--banner-height-active-class="text-blue-400"
        data-music--banner-height-inactive-class="text-gray-400"
        class="absolute top-6 right-6 z-50 text-gray-400 hover:text-white rounded-full hover:bg-black/50 transition-colors">
  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8V4m0 0h4M4 4l5 5m11-5v4m0-4h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5l-5-5m5 5v-4m0 4h-4" />
  </svg>
  <span class="sr-only">Toggle Banner Height</span>
</button>