<div data-controller="music--time-display" class="flex items-center w-full justify-center md:justify-between py-1">
  <div data-music--time-display-target="current" class="hidden md:block mx-2 w-[4.5rem] text-right font-mono">0:00</div>
  <%= yield %> <!-- This yields the waveform content -->
  <div data-music--time-display-target="duration" class="hidden md:block mx-2 w-[4.5rem] text-right font-mono">0:00</div>
</div>